.special_modal{
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.modal_Button{
        position: relative;
        text-decoration: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0.8;
      }
        
      .modal_Button span {
        font-family: Spartan, sans-serif;
        font-weight: 500;
        letter-spacing: 0.7px;
      }
        
      .modal_Button:hover {
        animation: rotate 0.7s ease-in-out both;
      }
        
      .modal_Button:hover span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg) translate3d(0, 0, 0);
        }
        25% {
          transform: rotate(3deg) translate3d(0, 0, 0);
        }
        50% {
          transform: rotate(-3deg) translate3d(0, 0, 0);
        }
        75% {
          transform: rotate(1deg) translate3d(0, 0, 0);
        }
        100% {
          transform: rotate(0deg) translate3d(0, 0, 0);
        }
      }
        
      @keyframes storm {
        0% {
          transform: translate3d(0, 0, 0) translateZ(0);
        }
        25% {
          transform: translate3d(4px, 0, 0) translateZ(0);
        }
        50% {
          transform: translate3d(-3px, 0, 0) translateZ(0);
        }
        75% {
          transform: translate3d(2px, 0, 0) translateZ(0);
        }
        100% {
          transform: translate3d(0, 0, 0) translateZ(0);
        }
      }  